<div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h1 class="my-0 font-weight-normal">Aquí está tu cambio</h1>
          </div>
          <div class="card-body">
              <h3>Numero de monedas a regresar: <span class="label label-info">@ViewBag.DineroEnMonedas</span></h3>
              <h3>Monedas de $5 <span class="label label-info">@ViewBag.Monedasde5 </span></h3>
              <h3>Monedas de $1 <span class="label label-info">@ViewBag.Monedasde1 </span></h3>
              <h3>Monedas de ¢50 <span class="label label-info">@ViewBag.Monedasde50c </span></h3>
              <h3>Monedas de ¢10 <span class="label label-info">@ViewBag.Monedasde10c </span></h3>
              <h3>Monedas de ¢1 <span class="label label-info">@ViewBag.Monedasde1c </span></h3>

         

          </div>
        </div>
     </div>
</div>
